// Colors
$color-primary: #fff;
$color-secondary: #f64c72;
$color-background: #fff;
$color-text: #6d7d8b;
$color-dark: #553d67;
$color-white: #fff;
// Font Sizes
$text-xs: 1.55rem;
$text-sm: 1.77rem;
$text-base: 2rem;
$text-l: 2.88rem;
$text-sl: 4.44rem;
$text-xl: 5.33rem;

$text-xl-mobile: 5rem;
$text-heading-mobile: 3.75rem;
$text-subheading-mobile-large: 2.77rem;
$text-subheading-mobile-small: 2.5rem;
$text-mobile-small: 1.75rem;
$text-mobile-xsmall: 1.46rem;

// Spacing
$spacing-base: 1rem;
$spacing-large: 2rem;

