@use '../utils/index' as *;
.navbar {
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(mobile) {
        flex-direction: row;
        justify-content: space-between;
    }

    align-items: center;

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond(mobile) {
            margin: 2rem;
        }
        img {
            width: 100px;
            @include respond(mobile) {
                width: 40px;
            }
        }
        &-title {
            font-size: $text-base;
            color: $color-dark;
            font-family: 'Mulish', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            @include respond(mobile) {
                font-size: 6px;
            }
            &-red {
                color: $color-secondary;
            }
            &-blue {
                color: $color-dark;
            }
        }
    }

    &-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: $color-primary;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: $color-dark;
        font-size: 20px;
        &-item {
            margin: $spacing-base;

            @include respond(desktop) {
                margin: $spacing-large;
            }

            list-style: none;
            margin: 0 1rem;
            margin-top: 0rem;
            a {
                color: $color-dark;
                text-decoration: none;

                &:hover {
                    color: $color-secondary;
                }
            }
        }

        @include respond(mobile) {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            padding: 3rem 0;
            width: 100%; /* Ensure the menu takes full width on mobile */
            // height: 90vh;
            position: absolute;
            top: 70px; /* Adjust based on navbar height */
            background-color: $color-primary;
            z-index: 200;
        }
    }

    &-toggle {
        display: none;
    
        @include respond(mobile) {
        //   display: block;
          position: relative;
          z-index: 300;
          &-label {
              margin-right: 1rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 24px;
    
            span {
              display: block;
              width: 100%;
              height: 4px;
              background-color: $color-dark;
              border-radius: 2px;
              transition: all 0.3s ease;
            }
          }
    
          input:checked + &-label span:nth-child(1) {
            transform: rotate(45deg) translateY(8px) translateX(6px);
          }
    
          input:checked + &-label span:nth-child(2) {
            opacity: 0;
          }
    
          input:checked + &-label span:nth-child(3) {
            transform: rotate(-45deg) translateY(-8px) translateX(6px);
          }
        }
      }

    /* Toggle the navbar menu when the checkbox is checked */
    input:checked + .navbar-toggle-label + .navbar-menu {
        display: flex;
    }
}