@use '../utils/index' as *;

.testimonials {
  overflow: hidden; // Ensure overflow is hidden for the entire section
  padding: 4rem;
  padding-top: 8rem;
  padding-bottom: 12rem;
    @include respond(mobile) {
        padding: 3rem;
    }
  .testimonials-content {
    text-align: center;

    &-title {
      margin-bottom: 8rem;

      @include respond(mobile) {
        margin-bottom: 6rem;
      }

      &-text {
        font-family: 'Mulish', sans-serif;
        color: $color-dark;
        font-size: $text-xl;
        font-weight: 400;
        text-transform: uppercase;

        @include respond(mobile) {
          font-size: $text-heading-mobile;
        }
      }

      &-underline {
        width: 18.5rem;
        height: 0.2rem;
        margin: 2rem auto;
        background-color: $color-secondary;
      }
    }

    &-carousel {
      display: flex;
      gap: 2rem;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-behavior: smooth;
      padding-left: 17rem;
        padding-right: 17rem;
        padding-bottom: 1rem;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; 
      scrollbar-width: none;
      @include respond(mobile) {
        scroll-snap-type: x mandatory;
      }
      @media screen and (max-width: 1150px) {
        padding-left: 0rem;
        padding-right: 0rem;
      }
      @include respond(tablet) {
        padding-left: 4rem;
        padding-right: 4rem;
      }
      &-card {
        background-color: $color-primary;
        box-shadow: 0px 8px 11px -5px rgba(0,0,0,0.75);
        scroll-snap-align: start;
        padding-top: 10rem;
        padding-bottom: 6rem;
        padding-right: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-left: 4rem;
        max-height: 444px;
        min-width: 367px;
        &-desc {
          flex-grow: 1; // Allows the desc section to occupy the majority of the card
          display: flex;
          flex-direction: column;
          gap: 3rem;
          text-align: left;

          &-rating {
            font-size: $text-base;
            color: $color-secondary;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }

          &-content {
            font-family: 'Open Sans', sans-serif;
            font-size: $text-base;
            color: $color-text;
            font-weight: 400;

            @include respond(mobile) {
              font-size: $text-mobile-small;
            }
          }
        }

        &-user {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 6rem;
          &-img {
            width: 50px;  // Default width for larger screens
  height: 50px; // Maintain the aspect ratio as square
  border-radius: 50%; // Make the image circular
  object-fit: cover;  // Ensure it covers the area without distortion

  @include respond(mobile){
    width: 40px; // Adjust width for smaller screens
    height: 40px; // Maintain aspect ratio, but scale image properly
  } // Maintain aspect ratio, but scale image properly
          }

          &-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            flex: 1;
            margin-right: 1rem;
            &-name {
              font-family: 'Open Sans', sans-serif;
              font-weight: 600;
              font-size: $text-base;
              color: $color-text;
              @include respond(mobile) {
                font-size: $text-base;
              }
            }

            &-position {
              font-family: 'Open Sans', sans-serif;
              color: $color-text;
              font-size: $text-xs;
              font-weight: 400;
                margin-left: 1rem;
              @include respond(mobile) {
                font-size: $text-mobile-xmsmall;
              }
            }
          }
        }
      }
    }

    @include respond(mobile) {
      &-carousel {
        // padding: 0 2rem; // Add horizontal padding for the carousel
        padding-left: 0rem;
        padding-right: 1rem;
        &-card {
            // width: 100%; // Allow cards to shrink based on available space
            min-width: 308px;
            max-width: 308px; // Restrict maximum width to 230px
            // min-width: 0; // Override larger screen's min-width of 337px
            height: auto; // Add some internal padding for content
            box-sizing: border-box;
            padding-left: 3rem;
            padding-right: 1rem;
        }
      }
    }
  }
}
